#app-content-wrapper #app-content{
    height: 100%;
    /*padding-top: 60px;*/
    /*padding-bottom: 50px;*/
}

#inner-app-content{
    padding: 0;
}

#ts-plot-modal .modal-dialog {
    position: absolute !important;
    display: table; //This is important
width: auto;
    min-width: 100%;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#ts-plot-modal .modal-body {
    height: 100%;
    width:100%;
    border-radius: 0;
}
.map-view-legend {
    bottom: 10px;
    /*right: 20px;*/
    width: 170px;
    max-height: 90%;
    overflow-y: auto;
    margin: 5px;
    color:white;
    background: #286090;
    border: 1px #ddd solid;
    z-index: 999;
}
.map-view-legend:hover {
  background: #3b4790;
}
.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}