#app-content-wrapper #app-content{
    height: 100%;
    /*padding-top: 60px;*/
    /*padding-bottom: 50px;*/
}

#inner-app-content{
    padding: 0;
}

#ts-plot-modal .modal-dialog {
    position: absolute !important;
    display: table; //This is important
width: auto;
    min-width: 100%;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#ts-plot-modal .modal-body {
    height: 100%;
    width:100%;
    border-radius: 0;
}
.map-view-legend {
    bottom: 10px;
    /*right: 20px;*/
    width: 170px;
    max-height: 90%;
    overflow-y: auto;
    margin: 5px;
    color:white;
    background: rgba(0,60,136,.8);
    border: 1px #ddd solid;
    z-index: 999;
}
.map-view-legend:hover {
  background: rgba(0,60,136,.5)
}

.gee-attr {
    top: 4px;
    right: 20px;
    width: 300px;
    max-height: 90%;
    overflow-y: auto;
    margin: 5px;
    color:white;
    background: rgba(0,60,136,.8);
    border: 1px #ddd solid;
    z-index: 999;
}
.gee-attr:hover {
  background: rgba(0,60,136,.5)
}

.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
#logos {
  padding: 5px 0;
  white-space: nowrap;
  width: 100%;
  display: table;
}

.logo-image {
  vertical-align: middle;
  display: table-cell;
  padding: 0 2px;
}

.logo-image img {
  max-width: 100%;
}
#help-modal .modal-dialog{
    position: fixed;
    display: table; //This is important
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
