{% extends "waterwatch/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://openlayers.org/en/v4.3.4/css/ol.css" type="text/css">
{% endblock %}

{% block global_scripts %}
{{block.super}}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://highcharts.github.io/export-csv/export-csv.js"></script>
<script src="https://openlayers.org/en/v4.3.4/build/ol.js" type="text/javascript"></script>
{% endblock %}



{% block header_buttons %}
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
  <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
</div>
{% endblock %}

{% block app_content %}
<style>
  #map{
    height:100%;
  }
  #graph{
    height:100%;
  }
</style>

<div id="map" class="map col-md-7">
   <div id="map-view-legend" class="map-view-legend ol-unselectable ol-control">

        <div>
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="20" cy="20" r="20" stroke="red" fill="red" stroke-width="2"/>
            </svg>
            < 25% Water Coverage
        </div>
        <div>
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="20" cy="20" r="20" stroke="yellow" fill="yellow" stroke-width="2"/>
            </svg>
            25% to 75% Water Coverage
        </div>
        <div>
            <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="20" cy="20" r="20" stroke="green" fill="green" stroke-width="2"/>
            </svg>
            > 25% Water Coverage
        </div>
    </div>
</div>

<div id="graph" class="col-md-5">
  <input type="text" name="current-lat" id="current-lat" hidden>
  <input type="text" name="current-lon" id="current-lon" hidden>

  <br>
  <div class="chart-wrapper">
    <div class="chart-inner" style="width:100%;height:75%;">
      <div align="center"><img id="view-file-loading" class="view-file hidden" src="/static/waterwatch/images/loader.gif" /></div>
      <div id="plotter" name="plotter" style="height:50%;width:100%" >
      </div>
    </div>
  </div>
  <div id="info" class="hidden info"></div>
  <div id="zoomlevel"></div>
  <button type="button" name="reset" id="reset" class="btn btn-primary hidden" onclick="window.location.reload();">Reset Map</button>
</div>


<div id="layers" name="layers" data-ponds-mapid="{{ponds_mapid}}" data-ponds-token="{{ponds_token}}" style="display:none;">
  {% endblock %}

  {# Use the after_app_content block for modals #}
  {% block after_app_content %}
  <!-- Help Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Help Modal</h5>
        </div>
        <div class="modal-body">
          <p>Under Construction..........</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!--Show TS Plot -->
  <div class="modal fade" id="ts-plot-modal" tabindex="-1" role="dialog" aria-labelledby="ts-plot-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="vic-plot-modal-label">Timeseries Plot</h2>
        </div>
        <div class="modal-body">
          <div>

          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block app_actions %}

  {% endblock %}

  {% block scripts %}
  {{ block.super }}
  <script src="{% static 'waterwatch/js/map.js' %}" type="text/javascript"></script>
  {% endblock %}